# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.dat

bin/
.settings/
libs/
preferences.pref
.classpath
.idea/

java-chat-client.iml
.vscode/
User.dat
.DS_Store
.project

