#loginBox{
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-border-radius: 5;
	-fx-border-style: solid;
}
#errorBox{
	-fx-border-color: red;
	-fx-border-width: 2;
	-fx-border-radius: 5;
	-fx-border-style: solid;
}
