GridPane {
    -fx-background-color: #202124;
}

.VBox {
    -fx-background-color: blue;
}

.PANE {
    -fx-background-color: pink;
}

.message {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #0084FF;
    -fx-background-radius: 8;
    -fx-label-padding: 4;
    -fx-background-radius: 12.5;
}

.messageLeft {
    -fx-alignment: left;
}

.messageCenter {
    -fx-alignment: center;
}

.messageRight {
    -fx-alignment: right;
}

.sendButton {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3c4042;
	-fx-background-radius: 12.5;
}

.messageBox {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3c4042;
	-fx-background-radius: 12.5;
}

.chatPane {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3c4042;
    -fx-control-inner-background: #3c4042 ;
    -fx-control-inner-background-alt: #3c4042;
}

.chatPane ScrollBar {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3c4042;
    -fx-control-inner-background: #3c4042 ;
    -fx-control-inner-background-alt: #3c4042;
}
