Scene {
    -fx-background-color: blue;
}

.VBox {
    -fx-background-color: blue;
}

.PANE {
    -fx-background-color: pink;
}

.message {
    -fx-color: #FFFFFF;
    -fx-background-color: #0084FF;
    -fx-background-radius: 8;
    -fx-label-padding: 4;
}

.messageLeft {
    -fx-alignment: left
}

.messageCenter {
    -fx-alignment: center
}

.messageRight {
    -fx-alignment: right
}

.messageBox {
	-fx-background-radius: 8;
}