.pane {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #2c3032;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.messageView {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #003d33;
    -fx-control-inner-background: #2c3032;
    -fx-control-inner-background-alt: #2c3032;
    -fx-faint-focus-color: transparent;
}

.messageView:focused {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #003d33;
    -fx-control-inner-background: #2c3032;
    -fx-control-inner-background-alt: #2c3032;
    -fx-faint-focus-color: transparent;
}

.message {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #2e7c31;
    -fx-background-radius: 8;
    -fx-label-padding: 4;
    -fx-background-radius: 12.5;
}

.sendButton {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3c4042;
	-fx-background-radius: 12.5;
}

.drawerButton {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3c4042;
    -fx-background-radius: 12.5;
}

.messageBox {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3c4042;
	-fx-background-radius: 12.5;
}


